.card-grid {
    height: 100%;
    display: grid;
    grid-template-columns: 2fr 2fr 3fr 2fr;
    grid-template-rows: 3fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
    'bsa js php php'
    'bsa js net events'
    'qa js net events'
    'qa js net blog'
    'qa java net blog'
    'qa java net contacts';
}

.card {
    perspective: 1000px;
    background: transparent;
    margin: -0.1px;
}

.card__body {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.card__face, .card__back {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 20px;
    color: #000;
    background-color: #fff;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.card__back {
    overflow: auto;
}

/* Binary Studio Academy card */
.card--bsa {
    grid-area: bsa;
}

.card--bsa .card__face,
.card--bsa .card__back {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card--bsa .btn {
    padding: 7px 20px 8px;
    min-width: 120px;
    font-size: 20px;
    color: #fff;
    background: rgb(0, 144, 249);
    border: 1px solid rgb(0, 144, 249);
    border-radius: 3px;
    text-decoration: none;
}

.card--bsa .btn:hover {
    background: rgb(4, 95, 161);
}

/* JavaScript card */
.card--js {
    grid-area: js;
}

.card--js .card__face {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    background: rgb(251, 201, 103);
}

.card--js .card__back {
    text-align: left;
}

.card--js .card__title {
    font-size: 100px;
    font-weight: bold;
}

/* PHP card */
.card--php {
    grid-area: php;
}

.card--php .card__face {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(123, 136, 181);
}

.card--php .card__back {
    text-align: left;
}

.card--php .card__title {
    font-size: 100px;
    font-style: italic;
}

/* QA card */
.card--qa {
    grid-area: qa;
}

.card--qa .card__face {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(53, 183, 112);
}

.card--qa .card__back {
    text-align: left;
}

.card--qa .card__title {
    font-size: 100px;
    color: #fff;
}

/* Java card */
.card--java {
    grid-area: java;
}

.card--java .card__face {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(231, 39, 70);
}

.card--java .card__back {
    text-align: left;
}

.card--java .card__title {
    font-size: 50px;
    color: #fff;
}

/* .Net card */
.card--dot-net {
    grid-area: net;
}

.card--dot-net .card__face {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(92, 30, 106);
}

.card--dot-net .card__back {
    text-align: left;
}

.card--dot-net .card__title {
    font-size: 90px;
    color: #fff;
}

/* Events card */
.card--events {
    grid-area: events;
}

.card--events .card__face {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(0, 143, 250);
}

.card--events .card__back {
    text-align: left;
}

.card--events .card__title {
    font-size: 16px;
    color: #fff;
}

/* Blog card */
.card--blog {
    grid-area: blog;
}

.card--blog .card__face {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(0, 59, 149);
}

.card--blog .card__back {
    text-align: left;
}

.card--blog .card__title {
    font-size: 16px;
    color: #fff;
}

/* Contacts card */
.card--contacts {
    grid-area: contacts;
}

.card--contacts .card__face {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(0, 34, 82);
}

.card--contacts .card__back {
    text-align: left;
}

.card--contacts .card__title {
    font-size: 16px;
    color: #fff;
}
