.card--bsa:hover .card__body,
.card--js:hover .card__body,
.card--qa:hover .card__body {
    transform: rotateY(180deg);
}

.card--bsa .card__back,
.card--js .card__back,
.card--qa .card__back {
    transform: rotateY(180deg);
}

.card--blog:hover .card__body,
.card--dot-net:hover .card__body,
.card--events:hover .card__body {
    transform: rotateY(-180deg);
}

.card--blog .card__back,
.card--dot-net .card__back,
.card--events .card__back {
    transform: rotateY(-180deg);
}

.card--php:hover .card__body,
.card--java:hover .card__body,
.card--contacts:hover .card__body {
    transform: rotateX(180deg);
}

.card--php .card__back,
.card--java .card__back,
.card--contacts .card__back {
    transform: rotateX(180deg);
}
