.wrapper {
    position: relative;
    padding-top: 66px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: rgb(246, 248, 252);
}

.container {
    margin: 0 auto;
    padding: 10px 20px;
    width: 75%;
    overflow: hidden;
}

.content {
    position: relative;
    z-index: 5;
    flex-grow: 1;
    padding-top: 50px;
    padding-bottom: 50px;
}

.notification-container {
    position: fixed;
    z-index: 10;
    bottom: 15px;
    right: 15px;
    max-width: 15%;
}
