.header {
    position: fixed;
    z-index: 10;
    top: 0;
    width: 100%;
    background: #fff;
    animation-name: slide-down;
    animation-duration: 1.5s;
    animation-timing-function: linear;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo-img {
    object-fit: contain;
    max-height: 45px;
}

@keyframes slide-down {
    0% {
        transform: translateY(-100%);
    }
    50% {
        transform: translateY(0%);
    }
}
