@media all and (max-width: 1025px) {
    .notification-container {
        max-width: 16%;
    }
}

@media all and (max-width: 961px) {
    .card-grid {
        grid-template-columns: 3fr 1fr 2fr 2fr;
        grid-template-rows: 1.5fr 1.5fr 1fr 2fr 2fr;
        grid-template-areas:
    'bsa js js events'
    'bsa js js blog'
    'bsa js js contacts'
    'java java php php'
    'qa qa net net';
    }

    .notification-container {
        max-width: 17%;
    }

    .notification__title, .notification__text {
        font-size: 13px;
    }
}

@media all and (max-width: 816px) {
    .notification-container {
        max-width: 20%;
    }
}

@media all and (max-width: 695px) {
    .notification-container {
        max-width: 25%;
    }

    .social-media__link {
        width: 20px;
        height: 20px;
    }
}

@media all and (max-width: 576px) {
    .container {
        padding: 0 5px;
    }

    .notification-container {
        max-width: 30%;
    }

    .card--js .card__title {
        font-size: 60px;
    }

    .card--php .card__title {
        font-size: 60px;
    }

    .card--qa .card__title {
        font-size: 60px;
    }

    .card--dot-net .card__title {
        font-size: 60px;
    }
}

@media all and (max-width: 481px) {
    .container {
        padding: 0;
    }
}
