.nav__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
}

.nav__item {
    margin-right: 20px;
}

.nav__item:last-child {
    margin-right: 0;
}

.nav__notification-icon {
    width: 25px;
    height: 25px;
    padding: 0;
    border: 0;
    cursor: pointer;
    background: url('../img/notification-icon.svg');
}

.nav__notification-icon:hover {
    background: url('../img/notification-icon-hover.svg');
}

.nav__user-avatar {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 1;
    color: #fff;
    border-radius: 50%;
    background: rgb(255, 143, 46);
}

.nav__user-avatar:hover {
    background: rgb(250, 120, 1);
}

/* checkbox for menu toggling */
.nav__toggle-menu-checkbox {
    position: absolute;
    top: -9999px;
    left: -9999px;
}
