.notification__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.notification__item {
    margin-bottom: 20px;
    opacity: 0.9;
}

.notification__item:last-child {
    margin-bottom: 0;
}

.notification__item--error .notification {
    background: rgb(195, 73, 71);
}

.notification__item--warning .notification {
    background: rgb(255, 150, 71);
}

.notification__item--success .notification {
    background: rgb(88, 161, 97);
}

.notification {
    display: flex;
    align-items: center;
    max-height: 150px;
    padding: 15px;
    color: #fff;
    border-radius: 5px;
}

.notification__icon {
    max-width: 25px;
    object-fit: contain;
}

.notification__title {
    margin: 0;
}

.notification__body {
    margin-left: 20px;
}
