/* show popup-menu if checkbox under avatar is checked */
.nav__toggle-menu-checkbox:checked ~ .popup-menu {
    display: block;
    position: absolute;
    top: 56px;
    right: calc(100% - 90%);
}

.popup-menu {
    display: none;
    padding: 14px 20px 14px 20px;
    background-color: white;
    width: 170px;
    box-shadow: 1px 1px 3px 0 rgba(105, 105, 105, 1);
}

.popup-menu__user-name {
    color: #b3bbc4;
    text-align: center;
    font-size: 15px;
}

.popup-menu__dash {
    margin-top: 2px;
    height: 1px;
    border: none;
    background-color: #b3bbc4;
}

.popup-menu__list {
    display: flex;
    flex-direction: column;
}

.popup-menu__item {
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    color: #000;
}

.popup-menu__item:hover {
    background: rgba(204, 204, 204, 0.3);
}
