.social-media__list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    height: 100%;
    list-style: none;
}

.social-media__item {
    margin: 0 5px;
}

.social-media__link {
    display: block;
    width: 30px;
    height: 30px;
    text-decoration: none;
    background: no-repeat center / contain;
}

.social-media__link--facebook {
    background-image: url("../img/facebook.svg");
}

.social-media__link--facebook:hover {
    background-image: url("../img/facebook-hover.svg");
}

.social-media__link--telegram {
    background-image: url("../img/telegram.svg");
}

.social-media__link--telegram:hover {
    background-image: url("../img/telegram-hover.svg");
}

.social-media__link--instagram {
    background-image: url("../img/instagram.svg");
}

.social-media__link--instagram:hover {
    background-image: url("../img/instagram-hover.svg");
}
